
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #a8edea, #fed6e3);

}

.login-container {

    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 80px;
    text-align: center;

    border: 2px solid #4caf50;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    

}

.login-container input {

    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    width: 100%;       /* ocupa toda a largura do container */
  max-width: 300px;
}

.login-container button {
     padding: 12px;
     border-radius: 5px;
     border: none;
     background-color: #4caf50;
     color: white;
     cursor: pointer;
     transition: background 0.3s;
     font-size: 16px;
     width: 100%;       /* ocupa toda a largura do container */
  max-width: 300px;

}

.login-container button:hover {

    background-color: #45a049;


}

.login-container h2 {

    font-size: 32px;
    margin: 0;
    font-weight: bold;
    color: #4caf50;
    margin-bottom: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.login-container p {
    font-size: 20px;
    margin: 0;
    color: #555;
}

.login-container input:focus {

    border-color: #4caf50;
    box-shadow:  0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

.login-container button:hover {

    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translate(0,0,0,0,2);
    transition: all 0.3 ease;
}

#mensagem {

    font-size: 12px;
    color: red;
    margin-top: 10px;
}

#esqueci-senha {
  font-size: 18px;
  color: #4caf50;
  text-decoration: none;
  margin-top: 5px;  /* aproxima do input de senha */
  margin-bottom: 5px; /* deixa um espaço pequeno pro botão */
  cursor: pointer;
}

#esqueci-senha:hover {
  text-decoration: underline;
}

.login-social {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.btn-facebook, .btn-google {
  display: flex;
  align-items: center;
  gap: 8px; /* espaço entre o ícone e o texto */
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.btn-facebook {
  background-color: #3b5998;
}
.btn-facebook:hover {
  background-color: #334f88;
}

.btn-google {
  background-color: #db4437;
}
.btn-google:hover {
  background-color: #c33d2f;
}



